<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PenggunaService</servlet-name>
        <servlet-class>service.PenggunaService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransaksiService</servlet-name>
        <servlet-class>service.TransaksiService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTransaksiService</servlet-name>
        <servlet-class>service.TransaksiDetailService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarangService</servlet-name>
        <servlet-class>service.BarangService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>service.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutService</servlet-name>
        <servlet-class>service.LogoutService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PenggunaService</servlet-name>
        <url-pattern>/PenggunaService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarangService</servlet-name>
        <url-pattern>/barang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTransaksiService</servlet-name>
        <url-pattern>/DetailTransaksiService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransaksiService</servlet-name>
        <url-pattern>/TransaksiService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutService</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
